<div>
	<a href="/login/">登录</a>
	<a	href="/register/">注册</a>
</div>

<div>
	你还在为中国的市场上没有优质食用油而烦恼吗，<br>
	还在为去餐厅、排档而为地沟油忧心吗，<br>
	还在为超市中琳琅满目的桶装调和油中没有纯品花生油而不爽吗。。。<br>
	<br>
	每个中国人都有一个童年，而每个同年有不同的记忆，也有不同的精彩，<br>
	然而有一种味道的回忆却是相同的，<br>
	那就是浓香花生油的味道<br>
	<br>
	机器轰鸣的工厂代替了以往的农家压榨，<br>
	调和油取代了纯品油，<br>
	难道不能回到过去了吗<br>
	<br>
	我们要做的就是带回曾经的味道<br>
	我们要做的就是创造将来的标准<br>
	将纯品花生油的味道予您唇齿间<br>
	将产品变成中国花生油的标准<br>
	<br>
	这就是我们，我们要打造的是一种产品<br>
	我们也是在打造一种标准<br>
	我们更是在打造一座长城<br>
	---中华民族健康油品的长城<br>
	<br>
	说了这么多，来看看我们的产品吧		<a href="/goodslist/">go</a>
</div>